[submodule "external/pineforge-engine"]
	path = external/pineforge-engine
	url = https://github.com/pineforge-4pass/pineforge-engine.git
[submodule "external/pineforge-codegen-oss"]
	path = external/pineforge-codegen-oss
	url = https://github.com/pineforge-4pass/pineforge-codegen-oss.git
